body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:514px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3996_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:188px;
  width:86px;
  height:40px;
}
#u3996_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3996.mouseOver {
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:46px;
  white-space:nowrap;
}
#u3997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(64, 158, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:188px;
  width:88px;
  height:40px;
}
#u3997_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997.mouseOver {
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:48px;
  white-space:nowrap;
}
#u3998_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(236, 245, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(179, 216, 255, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:188px;
  width:88px;
  height:40px;
}
#u3998_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998.mouseOver {
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:48px;
  white-space:nowrap;
}
#u3999_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:240px;
  width:86px;
  height:36px;
}
#u3999_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(167, 210, 249, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999.mouseOver {
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:46px;
  white-space:nowrap;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:318px;
  width:300px;
  height:170px;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
