body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u10158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u10159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:28px;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10159_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10159.mouseOver {
  opacity:0.8;
}
#u10159_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10159.mouseDown {
  opacity:1;
}
#u10159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u10160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u10160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u10161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:86px;
}
#u10162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10163 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:86px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10164 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:126px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:375px;
  height:86px;
}
#u10166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10167 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:176px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10168 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:216px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
