body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u13572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u13572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u13574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u13574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u13575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u13576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:28px;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13576_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13576.mouseOver {
  opacity:0.8;
}
#u13576_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13576.mouseDown {
  opacity:1;
}
#u13576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u13577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u13577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u13577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:521px;
}
#u13578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u13579 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:86px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u13579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u13580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u13580 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:126px;
  width:364px;
  height:41px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u13580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u13581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13581 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:576px;
  width:20px;
  height:20px;
}
#u13581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:2px;
}
#u13582 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:561px;
  width:357px;
  height:1px;
}
#u13582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13583 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:491px;
  width:60px;
  height:60px;
}
#u13583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13584 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:576px;
  width:20px;
  height:20px;
}
#u13584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13585 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:491px;
  width:60px;
  height:60px;
}
#u13585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13586 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:491px;
  width:60px;
  height:60px;
}
#u13586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13587 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:491px;
  width:60px;
  height:60px;
}
#u13587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u13588 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:491px;
  width:60px;
  height:60px;
}
#u13588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13589 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13590 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13591 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13592 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u13593 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:485px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u13593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u13594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(94, 153, 208, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13594 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:622px;
  width:364px;
  height:40px;
  color:#FFFFFF;
}
#u13594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:360px;
  word-wrap:break-word;
}
