body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u10135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u10137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u10138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u10139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:28px;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10139_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10139.mouseOver {
  opacity:0.8;
}
#u10139_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u10139.mouseDown {
  opacity:1;
}
#u10139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u10140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u10140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u10140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u10141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:375px;
  height:86px;
}
#u10142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10143 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:273px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10144 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:313px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:375px;
  height:95px;
}
#u10146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10147 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:369px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u10148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10148 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:438px;
  width:47px;
  height:23px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u10148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:47px;
  word-wrap:break-word;
}
#u10149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u10149 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:412px;
  width:39px;
  height:40px;
  color:#CCCCCC;
}
#u10149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
#u10150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:177px;
}
#u10151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10152 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:86px;
  width:364px;
  height:177px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u10152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u10153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10153 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:157px;
  width:35px;
  height:35px;
}
#u10153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u10154 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:157px;
  width:35px;
  height:35px;
}
#u10154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
