body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u14164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u14164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u14166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u14166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u14167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u14168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:50px;
  height:28px;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14168_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14168.mouseOver {
  opacity:0.8;
}
#u14168_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Pro';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u14168.mouseDown {
  opacity:1;
}
#u14168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u14169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(94, 153, 208, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:617px;
  width:375px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u14169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  word-wrap:break-word;
}
#u14170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:86px;
}
#u14171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u14172 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:86px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u14172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u14173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u14173 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:126px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u14173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u14174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:182px;
  width:375px;
  height:95px;
}
#u14175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u14176 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:182px;
  width:364px;
  height:40px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u14176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:364px;
  word-wrap:break-word;
}
#u14177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u14177 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:251px;
  width:47px;
  height:23px;
  font-family:'Font Awesome 5 Free';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:left;
  line-height:28px;
}
#u14177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:47px;
  word-wrap:break-word;
}
#u14178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u14178 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:225px;
  width:39px;
  height:40px;
  color:#CCCCCC;
}
#u14178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  word-wrap:break-word;
}
